Flask
Flask-Cors
hana-ml
configparser
hdbcli
uwsgi
SPARQLWrapper
generative-ai-hub-sdk
langchain
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
langchain_google_vertexai
langchain_openai
langchain_aws
langchain_community
sql_formatter